{% block content %}
{% include 'myclasses/alert.html' %}
<div>
    <h1>Total Classes: {{ count }} </h1>
    <br><br>
    <a href={% url 'index' %}>Back Home</a>
    <br><br>
    <a href={% url 'create_classroom' %}>Create Virtual Classroom</a>
    <ul>
        {% for cls in classrooms %}
            <li>
                <a href={% url 'virtual_classroom' cls.uuid %}>Virtual Classrooms: {{cls.uuid }}</a>
                <br><br>
                <a href={% url 'delete_classroom' cls.uuid %}>Delete</a>
                <br><br>
                <a href={% url 'update_classroom' cls.uuid %}>Update</a>
            </li>
            <br><br>
        {% endfor %}
    </ul>

</div>

{% endblock %}